<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="accept, content-type" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
        <directoryBrowse enabled="true" />
  </system.webServer>

  <!--<system.net>
    <mailSettings>
      <smtp from="udumangameta23@gmail.com">
        <network host="relay-hosting.secureserver.net" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>-->
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=45.113.136.110;User ID=ShreyaAdv;Password=AdminSA@2019;Initial Catalog=aeonextc_ShreyaAdv;" providerName="System.Data.SqlClient" />
 
    <!--<add name="DBCS" connectionString="Data Source=.;Initial Catalog=Shreya;Integrated Security=True" providerName="System.Data.SqlClient" />-->
 
  </connectionStrings>

</configuration>
